{% extends 'weather/base.html' %}

{% block title %}Login{% endblock title %}

{% block headline %}
<h2>Login</h2>
{% endblock headline %}

{% block content %}
<div class="row">
  <div class="two columns">&nbsp;</div>
  <div class="ten columns">
    {% if forms.errors %}
      <p>
        Your username or password didn't match.
        Please try again.
      </p>
    {% else %}
      <p>Please use the following form to login:</p>
    {% endif %}

    <div class="login-form">
      <form action="{% url 'account:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
      </form>
    </div>
    </div>
  
</div>
{% endblock content %}