{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static "weather/skeleton.css" %}">
  <title>{% block title %}Weather App{% endblock %}</title>
</head>

<body>
  {% block navbar %}
  <div class="navbar">
    <div class="row">
      <div class="seven columns" style="text-align: left;">
        <a href="{% url 'weather:index' %}">Home</a>
      </div>
      <div class="five columns" style="text-align: right;">
        <a href="{% url 'weather:search' %}">Weather Search</a>
        <a href="{% url 'weather:report_weather' %}">Report Weather</a>
        <a href="{% url 'weather:browse_reports' %}">Browse Reports</a>
      </div>
    </div>
  </div>
  <br>
  {% endblock navbar %}

  <div id="header">
    {% block headline %}
      <h1>base headline</h1>
    {% endblock headline %}
  </div>

  <div id="content" name="content">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>