{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{% static 'weather/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'weather/skeleton.css' %}">
  <title>{% block title %}Weather App{% endblock %}</title>
</head>

<body onload="assignDarkMode()">
  {% block navbar %}
  {% include 'weather/navbar.html' %}
  {% endblock navbar %}

  <div id="header">
    {% block headline %}
      <h1>base headline</h1>
    {% endblock headline %}
  </div>

  <div id="content" name="content">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>