<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css" integrity="sha512-xiunq9hpKsIcz42zt0o2vCo34xV0j6Ny8hgEylN3XBglZDtTZ2nwnqF/Z/TTCc18sGdvCjbFInNd++6q3J0N6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Weather Homepage</title>
</head>
<body>
    <h1>Search for weather by Zip Code or City and State</h1>

    <form method="post">
        <!-- <input type='text' name='zipcode' id='zipcode' placeholder="Zipcode">
        <br> -->
        {% csrf_token %}
        {{ zip_form.as_p }}
        <button type="submit" name="action" value="zip_form">Search by Zipcode</button>
    </form>
    <br><br>
    <form method="post">
        
        <!-- <input type='text' name='city' id='city' placeholder="City">
        <br>
        <input type='text' name='state' id='state' placeholder="State Code">
        <br> -->
        {% csrf_token %}
        {{ city_state_form.as_p }}
        <button type="submit" name="action" value="city_state_form">Search by City and State</button>
    </form>
</body>
</html>