{% block navbar %}
<div class="navbar">
    <div class="row">
      <div class="one columns">
        <a href="{% url 'weather:index' %}" class="logo">Home</a>
      </div>
      <div class="eleven columns">
        <a href="#" onclick="darkModeSwap()">Toggle Dark Mode</a>
        <a href="{% url 'account:login' %}">Login/Register</a>
        <a href="{% url 'weather:browse_reports' %}">Browse Reports</a>
        <a href="{% url 'weather:report_weather' %}">Report Weather</a>
        <a href="{% url 'weather:search' %}">Weather Search</a>
      </div>
    </div>
  </div>
  <br>
{% endblock navbar %}